<div class="container-fluid">
    <mat-card>
        <mat-card-content>                              
            <div class="example-container mat-elevation-z8">
                <table mat-table [dataSource]="datasource" class="mat-elevation-z8">
                    <!-- ISBN Column -->
                    <ng-container matColumnDef="isbn">
                        <th mat-header-cell *matHeaderCellDef>ISBN</th>     
                        <ng-template [ngIf]="isAdmin()">
                            <td mat-cell *matCellDef="let element"> <a (click)="setBookDetails(element)" [routerLink]="['/bookdetails']">{{element.isbn}}</a></td>
                        </ng-template>           
                        <ng-template [ngIf]="!isAdmin()">
                            <td mat-cell *matCellDef="let element">{{element.isbn}}</td>
                        </ng-template>    
                    </ng-container>

                    <!-- Title Column -->
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef> Title </th>
                        <td mat-cell *matCellDef="let element">{{element.title}}</td>
                    </ng-container>

                    <!-- SubTitle Column -->
                    <ng-container matColumnDef="subtitle">
                        <th mat-header-cell *matHeaderCellDef> SubTitle </th>
                        <td mat-cell *matCellDef="let element"> {{element.subtitle}} </td>
                    </ng-container>

                    <!-- Author Column -->
                    <ng-container matColumnDef="author">
                        <th mat-header-cell *matHeaderCellDef> Author </th>
                        <td mat-cell *matCellDef="let element"> {{element.author}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>    
            </div>
        </mat-card-content>
    </mat-card> 
</div>



